// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
  
.service-fas {
  position: relative; /* Establishes a stacking context */
  z-index: 2; /* Ensures it's above other content */
}

.service-icon {
  position: relative;
  z-index: 1; /* Ensures text is below icons if they overlap */
}
}
