.fa-stack {
  display: inline-block;
  position: relative;
  width: 100%; /* Ensure that the stack spans the entire width */
}

.fa-stack .fa-inverse {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
}

.fa-stack img.service-icon {
  display: block;
  max-width: 100%;
  height: auto;
}